USE [master]
GO
/****** Object:  Database [core_bancario]    Script Date: 24/11/2021 11:11:12 ******/
CREATE DATABASE [core_bancario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'core_bancario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\core_bancario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'core_bancario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\core_bancario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [core_bancario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [core_bancario]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 24/11/2021 11:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[INT_CLIECODIGO] [int] IDENTITY(1,1) NOT NULL,
	[VCH_CLIENOMBRE] [varchar](50) NULL,
	[VCH_CLIEAPELLIDO] [varchar](50) NULL,
	[VCH_CLIECEDULA] [varchar](10) NULL,
	[VCH_CLIEDIRECCION] [varchar](100) NULL,
	[VCH_CLIETELEFONO] [varchar](20) NULL,
	[VCH_CLIEEMAIL] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 24/11/2021 11:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[INT_CUENCODIGO] [int] IDENTITY(1,1) NOT NULL,
	[INT_CLIECODIGO] [int] NOT NULL,
	[VCH_CUENNUMERO] [varchar](10) NULL,
	[VCH_CUENTIPO] [varchar](64) NULL,
	[DEC_CUENSALDO] [decimal](12, 2) NULL,
	[DTT_CUENFECHACREACION] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 24/11/2021 11:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[INT_MOVICODIGO] [int] IDENTITY(1,1) NOT NULL,
	[INT_CUENCODIGO] [int] NOT NULL,
	[DTT_MOVIFECHA] [datetime] NULL,
	[VCH_MOVITIPO] [char](64) NULL,
	[DEC_MOVIVALOR] [decimal](12, 2) NULL,
	[DEC_MOVISALDOFINAL] [decimal](12, 2) NULL,
	[VCH_MOVICUENTORIG] [varchar](10) NULL,
	[VCH_MOVICUENTDEST] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/11/2021 11:11:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[INT_USUCODIGO] [int] NOT NULL,
	[VCH_USUNOMBRE] [varchar](50) NULL,
	[VCH_USUAPELLIDO] [varchar](50) NULL,
	[VCH_USUCEDULA] [varchar](10) NULL,
	[VCH_USUDIRECCION] [varchar](100) NULL,
	[VCH_USUTELEFONO] [varchar](20) NULL,
	[VCH_USUEMAIL] [varchar](100) NULL,
	[VCH_USUUSUARIO] [varchar](100) NULL,
	[VCH_USUPASSWORD] [varchar](100) NULL,
	[VCH_ROL] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([INT_CLIECODIGO], [VCH_CLIENOMBRE], [VCH_CLIEAPELLIDO], [VCH_CLIECEDULA], [VCH_CLIEDIRECCION], [VCH_CLIETELEFONO], [VCH_CLIEEMAIL]) VALUES (1, N'Bryan', N'Rodriguez', N'1723763916', N'Orquideas', N'0987280480', N'birodriguez@espe.edu.ec')
INSERT [dbo].[CLIENTE] ([INT_CLIECODIGO], [VCH_CLIENOMBRE], [VCH_CLIEAPELLIDO], [VCH_CLIECEDULA], [VCH_CLIEDIRECCION], [VCH_CLIETELEFONO], [VCH_CLIEEMAIL]) VALUES (2, N'Fernando', N'Rodriguez', N'1716130321', N'Ponceano', N'0982456020', N'fprodriguez2@espe.edu.ec')
INSERT [dbo].[CLIENTE] ([INT_CLIECODIGO], [VCH_CLIENOMBRE], [VCH_CLIEAPELLIDO], [VCH_CLIECEDULA], [VCH_CLIEDIRECCION], [VCH_CLIETELEFONO], [VCH_CLIEEMAIL]) VALUES (3, N'Juan', N'Perez', N'1709033946', N'San Rafael', N'0988866055', N'jperez@espe.edu.ec')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[CUENTA] ON 

INSERT [dbo].[CUENTA] ([INT_CUENCODIGO], [INT_CLIECODIGO], [VCH_CUENNUMERO], [VCH_CUENTIPO], [DEC_CUENSALDO], [DTT_CUENFECHACREACION]) VALUES (1, 1, N'0000000001', N'AHORROS', CAST(150.00 AS Decimal(12, 2)), CAST(N'2021-08-01T00:00:00.000' AS DateTime))
INSERT [dbo].[CUENTA] ([INT_CUENCODIGO], [INT_CLIECODIGO], [VCH_CUENNUMERO], [VCH_CUENTIPO], [DEC_CUENSALDO], [DTT_CUENFECHACREACION]) VALUES (2, 1, N'0000000002', N'CORRIENTE', CAST(370.00 AS Decimal(12, 2)), CAST(N'2021-08-01T00:00:00.000' AS DateTime))
INSERT [dbo].[CUENTA] ([INT_CUENCODIGO], [INT_CLIECODIGO], [VCH_CUENNUMERO], [VCH_CUENTIPO], [DEC_CUENSALDO], [DTT_CUENFECHACREACION]) VALUES (3, 2, N'0100000001', N'AHORROS', CAST(980.00 AS Decimal(12, 2)), CAST(N'2021-09-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CUENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIMIENTO] ON 

INSERT [dbo].[MOVIMIENTO] ([INT_MOVICODIGO], [INT_CUENCODIGO], [DTT_MOVIFECHA], [VCH_MOVITIPO], [DEC_MOVIVALOR], [DEC_MOVISALDOFINAL], [VCH_MOVICUENTORIG], [VCH_MOVICUENTDEST]) VALUES (1, 1, CAST(N'2021-12-01T14:05:56.000' AS DateTime), N'DÉBITO                                                          ', CAST(60.00 AS Decimal(12, 2)), CAST(122.00 AS Decimal(12, 2)), N'0000000001', N'0100000001')
INSERT [dbo].[MOVIMIENTO] ([INT_MOVICODIGO], [INT_CUENCODIGO], [DTT_MOVIFECHA], [VCH_MOVITIPO], [DEC_MOVIVALOR], [DEC_MOVISALDOFINAL], [VCH_MOVICUENTORIG], [VCH_MOVICUENTDEST]) VALUES (2, 2, CAST(N'2021-12-01T14:05:56.000' AS DateTime), N'CRÉDITO                                                         ', CAST(60.00 AS Decimal(12, 2)), CAST(978.00 AS Decimal(12, 2)), N'0100000001', N'0000000001')
INSERT [dbo].[MOVIMIENTO] ([INT_MOVICODIGO], [INT_CUENCODIGO], [DTT_MOVIFECHA], [VCH_MOVITIPO], [DEC_MOVIVALOR], [DEC_MOVISALDOFINAL], [VCH_MOVICUENTORIG], [VCH_MOVICUENTDEST]) VALUES (3, 3, CAST(N'2021-12-01T14:19:53.000' AS DateTime), N'DÉBITO                                                          ', CAST(60.00 AS Decimal(12, 2)), CAST(62.00 AS Decimal(12, 2)), N'0000000001', N'0100000001')
SET IDENTITY_INSERT [dbo].[MOVIMIENTO] OFF
GO
INSERT [dbo].[USUARIO] ([INT_USUCODIGO], [VCH_USUNOMBRE], [VCH_USUAPELLIDO], [VCH_USUCEDULA], [VCH_USUDIRECCION], [VCH_USUTELEFONO], [VCH_USUEMAIL], [VCH_USUUSUARIO], [VCH_USUPASSWORD], [VCH_ROL]) VALUES (1, N'Bryan', N'Rodriguez', N'1723763916', N'Orquideas', N'0987280470', N'birodriguez@espe.edu.ec', N'birodriguez@espe.edu.ec', N'b37c3b9829651df8bd85af5270464325778587f08d8a8fdb5d570b8208e7d03b', N'Admin')
INSERT [dbo].[USUARIO] ([INT_USUCODIGO], [VCH_USUNOMBRE], [VCH_USUAPELLIDO], [VCH_USUCEDULA], [VCH_USUDIRECCION], [VCH_USUTELEFONO], [VCH_USUEMAIL], [VCH_USUUSUARIO], [VCH_USUPASSWORD], [VCH_ROL]) VALUES (2, N'Juan', N'Perez', N'1709033946', N'San Rafael', N'0988866055', N'jperez@espe.edu.ec', N'jperez@espe.edu.ec', N'2d699d3e74b69549305fb8c93ec73a2ab9f0d291ce63631909495fde2a226c69', N'Usuario')
INSERT [dbo].[USUARIO] ([INT_USUCODIGO], [VCH_USUNOMBRE], [VCH_USUAPELLIDO], [VCH_USUCEDULA], [VCH_USUDIRECCION], [VCH_USUTELEFONO], [VCH_USUEMAIL], [VCH_USUUSUARIO], [VCH_USUPASSWORD], [VCH_ROL]) VALUES (3, N'Fernando', N'Rodriguez', N'1716130321', N'Ponceano', N'0982456020', N'fprodriguez2@espe.edu.ec', N'fprodriguez2@espe.edu.ec', N'3e39d407656425c7121b1ddadeb728f6a4bac6c21ac6f5c30114212d5a843705', N'Cliente')
GO
/****** Object:  Index [PK_CLIENTE]    Script Date: 24/11/2021 11:11:13 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [PK_CLIENTE] PRIMARY KEY NONCLUSTERED 
(
	[INT_CLIECODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_CUENTA]    Script Date: 24/11/2021 11:11:13 ******/
ALTER TABLE [dbo].[CUENTA] ADD  CONSTRAINT [PK_CUENTA] PRIMARY KEY NONCLUSTERED 
(
	[INT_CUENCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 24/11/2021 11:11:13 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[CUENTA]
(
	[INT_CLIECODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_MOVIMIENTO]    Script Date: 24/11/2021 11:11:13 ******/
ALTER TABLE [dbo].[MOVIMIENTO] ADD  CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY NONCLUSTERED 
(
	[INT_MOVICODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 24/11/2021 11:11:13 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[MOVIMIENTO]
(
	[INT_CUENCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_USUARIO]    Script Date: 24/11/2021 11:11:13 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [PK_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[INT_USUCODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_RELATIONS_CLIENTE] FOREIGN KEY([INT_CLIECODIGO])
REFERENCES [dbo].[CLIENTE] ([INT_CLIECODIGO])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_RELATIONS_CLIENTE]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIEN_RELATIONS_CUENTA] FOREIGN KEY([INT_CUENCODIGO])
REFERENCES [dbo].[CUENTA] ([INT_CUENCODIGO])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIEN_RELATIONS_CUENTA]
GO
USE [master]
GO
